doctype html
head
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
body.container
    h3='Update ticket'
    form#form(action='/update', method='POST')
        div.form-group
            label='Ticket ID'
            input.form-control(type='text', name='id')
            label='Update the description'
            input.form-control(type='text', name='description')
            button.btn-btn-primary(type='submit') Send updated ticket